<nav class="navbar navbar-expand-lg navbar-light bg-light nav-fill sticky-top mb-3">

  <%# ロゴ部分 %>
  <div class="nav-item">
    <a class="navbar-brand logo" href="/">&nbsp; 5W1H日記</a>
  </div>




  <ul class="nav">
    
    
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user), class: "nav-item" do %>
          <i class="far fa-user"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "nav-link" do %>
          <i class="far fa-user fnt-color"></i>
        <% end %>
      <% end %>
    </li>
  </ul>

</nav>